@{
    ViewBag.Title = "Home Page";
}
@model BookRepo.Models.ViewModels.Dashboard

<div class="main-body">
    <div class="row">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-green">
                    <div class="panel-body">
                        <i class="fa fa-book fa-5x"></i>
                        <h3>@Model.DashboardSummary.TotalNumberOfBooks.ToString("N0")</h3>
                    </div>
                    <div class="panel-footer back-footer-green">
                        Total Books

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body">
                        <i class="fa fa-book fa-5x"></i>
                        <h3>@Model.DashboardSummary.TotalPages.ToString("N0")</h3>
                    </div>
                    <div class="panel-footer back-footer-blue">
                        Total Pages

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-red">
                    <div class="panel-body">
                        <i class="fa fa-book fa-5x"></i>
                        <h3>@Model.DashboardSummary.TotalMinutes.ToString("N0")</h3>
                    </div>
                    <div class="panel-footer back-footer-red">
                        Total Minutes

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-brown">
                    <div class="panel-body">
                        <i class="fa fa-book fa-5x"></i>
                        <h3>36,752 </h3>
                    </div>
                    <div class="panel-footer back-footer-brown">
                        No. of Visits

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 dashboard-container dashboard-blue">
            <div class="col-md-2">
                <div class="dashboard-heading-container">
                    <div class="dashboard-heading">
                        Fastest
                    </div>
                </div>
            </div>
            <div class="col-md-5 dashboard-content">
                <div class="dashboard-content-highlighted">@( Model.FastestBook.Minutes / ((DateTime)Model.FastestBook.DateCompleted == (DateTime)Model.FastestBook.DateStarted ? ((DateTime)Model.FastestBook.DateCompleted).AddDays(1) : (DateTime)Model.FastestBook.DateCompleted).Subtract((DateTime)Model.FastestBook.DateStarted).Days)</div>
                <div class="dashboard-content-normal">@Model.FastestBook.Name</div>
            </div>
            <div class="col-md-5 dashboard-image-container">
                <img class="img-responsive" src="data:image/jpg;base64,@Model.FastestBook.CoverHash" />
            </div>
        </div>
        <div class="col-md-4 dashboard-container dashboard-green">
            <div class="col-md-2">
                <div class="dashboard-heading-container">
                    <div class="dashboard-heading">
                        Longest
                    </div>
                </div>
            </div>
            <div class="col-md-5 dashboard-content">
                <div class="dashboard-content-highlighted">@Model.LongestBook.RunningTime</div>
                <div class="dashboard-content-normal">@Model.LongestBook.Name</div>
            </div>
            <div class="col-md-5 dashboard-image-container">
                <img class="img-responsive" src="data:image/jpg;base64,@Model.LongestBook.CoverHash" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Last Books Read
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        @Html.Partial("_DashboardLastReadItem", Model)
                    </div>
                    <div class="text-right">
                        <a href="#">More Tasks <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 dashboard-container dashboard-green">
            <div class="col-md-2">
                <div class="dashboard-heading-container">
                    <div class="dashboard-heading">
                        Most Recent
                    </div>
                </div>
            </div>
            <div class="col-md-5 dashboard-content">
                <div class="dashboard-content-highlighted">@DateTime.Now.Subtract((DateTime)Model.MostRecentBook.DateCompleted).Days days ago</div>
                <div class="dashboard-content-normal">@Model.MostRecentBook.Name</div>
            </div>
            <div class="col-md-5 dashboard-image-container">
                <img class="img-responsive" src="data:image/jpg;base64,@Model.MostRecentBook.CoverHash" />
            </div>
        </div>
    </div>
</div>
.
