@{
    ViewBag.Title = "Index";
}
@using BookRepo.Helpers.ExtensionMethods
@using BookRepo.Models.ViewModels
@model BookRepo.Models.ViewModels.MonthStatsViewModel


<h2>Stats</h2>
<!-- Month Group By Table -->
<!-- Quartly table -->
<!-- Quarter by Quarter table -->
<div class="main-body">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Books - Month by Month
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover jquery-dataTable" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>Rank</th>
                                    <th>Books</th>
                                    <th>Minutes</th>
                                    <th>Pages</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var list in @Model.MonthByMonthList)
                                {
                                    int maxPage = @Model.MonthByMonthList.Max(m => m.TotalPages);
                                    int maxMinutes = @Model.MonthByMonthList.Max(m => m.Minutes);

                                    <tr>
                                        <td>@list.GroupName</td>
                                        <td>@list.Rank</td>
                                        <td>@list.TotalBooks</td>
                                        <td>
                                            @list.Minutes.ToHourMinuteDisplay()<br />
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@(list.Minutes * 100 / maxMinutes) " aria-valuemin="0" aria-valuemax="100" style="width: @(list.Minutes * 100 / maxMinutes)%">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@list.TotalPages<br />
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@(list.TotalPages * 100 / maxPage) " aria-valuemin="0" aria-valuemax="100" style="width: @(list.TotalPages * 100 / maxPage)%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div></td>
                                        <td style="width:20em">
                                            <div style="white-space: nowrap; overflow:auto;">
                                                @foreach (var book in list.Books)
                                                {
                                                    <img class="table-thumbnail" src="data:image/jpg;base64,@book.CoverHash" />
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Books - Group by Month
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover jquery-dataTable" id="dataTables-month-list">
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>Rank</th>
                                    <th>Books</th>
                                    <th>Minutes</th>
                                    <th>Pages</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var list in @Model.MonthList)
                                {
                                    int maxPage = @Model.MonthList.Max(m => m.TotalPages);
                                    int maxMinutes = @Model.MonthList.Max(m => m.Minutes);

                                    <tr>
                                        <td>@list.GroupName</td>
                                        <td>@list.Rank</td>
                                        <td>@list.TotalBooks</td>
                                        <td>
                                            @list.Minutes.ToHourMinuteDisplay()<br />
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@(list.Minutes * 100 / maxMinutes) " aria-valuemin="0" aria-valuemax="100" style="width: @(list.Minutes * 100 / maxMinutes)%">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @list.TotalPages<br />
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@(list.TotalPages * 100 / maxPage) " aria-valuemin="0" aria-valuemax="100" style="width: @(list.TotalPages * 100 / maxPage)%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


